html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  height: 100%;
  background-color: ghostwhite;
}
h2 {
  text-align: center;
}
#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#gameContainer {
  width: 440px;  /* cell width * (game size + 2) */
  display: flex;
  flex-wrap: wrap;
  background: aliceblue;
}
#score {
  padding: 20px;
  display: flex;
}
.cell, .wall, .door {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid aliceblue;
  border-radius: 4px;
}
[class^="snake"] {
  padding: 2px;
  background-clip: content-box;
  border-radius: 6px;
  animation: outlining 0.15s;
}
.snake-1 {
  background-color: red;
}
.snake-2 {
  background-color: orange;
}
.wall {
  background-color: darkblue;
}
.door {
  background-color: yellow;
}
.food {
  border-radius: 100%;
  background-color: green;
}

@keyframes outlining {
  from, to {
    padding: 0px;
    border: 1px solid red;
  }
}
